/*  */

.logo{
    background-color: black;

   display: flex;
   justify-content:space-between;
   
 
}
.logoright{
   
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.btn{
    background-color: #D04A0A;
      color: white;
      margin: 10px;            
      padding: 11px 40px;      
      font-size: 16px;          
      border: none;            
      border-radius: 18px;       
      cursor: pointer;          
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease;
}
.bx{
    color: white ;
font-size: 25px;
}
.navbar{
   background-color:black !important;

}
.nav-link{
   color: white !important;


}
.banner{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(44, 44, 50, 0.65),rgba(36, 36, 40, 0.65)),url(./images//banner\ imag.png);
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
}
.banner h1{
    padding-left: 20px;
    font-weight: 700;
    color: white;

}

.banner p{
    font-size:20px ;
    padding-left: 20px;
    color: white;
}
.search_button{
    margin: 10px;            
    padding: 0px 0px 0px 20px; 
    border-radius: 18px; 

    width: 70%;
    background-color: white;

}
.btns{
    margin-left: 440px;

}
.serach_input
{
border: none;
}
